*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: lightblue;
    box-sizing: border-box;
    background-repeat: repeat;
    background-size: 300px;
    height: 100%;
}

div.menu-out{
    padding-top: 150px;
}

div.menu{
    margin: 0 auto;
    padding: 20px;
    background: #F8F8FF;
    width: 400px;
    box-shadow: 4px 4px 4px black;
    border: 2px solid gray;
}



/* Game */
div.game{
    padding-top: 20px;
}

div.gamediv,div.placar{
    padding: 5px;
    margin: 15px auto;
}

div.placar{
    background: lightcyan;
}

.div-botoes{
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

button.botao{
    width: 50px;
    height: 50px;
    border: 0;
    background: rgba(224, 255, 255, 0.9);
    margin: 1px;
}
button.botao:hover{
    background: rgba(224, 255, 255, 0.3);
}

div.inputPlacar{
    background: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
    width: 150px;
}

button.clicado{
    background: white;
}


